DB_CONNECTION_STRING=localDBString
SES_KEY=ses_key
SES_ACCESS_KEY=ses_access_key
SES_REGION=ap-south-1
RECAPTCHA_SECRET_KEY=recaptcha_secret
PORT=3005
AWS_PROFILE=hoistin
NODE_ENV=local

STAYBOARD_S3_BUCKET=stay-board
STAYBOARD_AWS_REGION=ap-south-1
STAYBOARD_AWS_ACCESS_KEY_ID=your_iam_access_key_id
STAYBOARD_AWS_SECRET_ACCESS_KEY=your_iam_secret_access_key

STAYBOARD_FIREBASE_PROJECT_ID=stayboard-tcn
STAYBOARD_FIREBASE_CLIENT_EMAIL=stayboard-push-notifications@stayboard-tcn.iam.gserviceaccount.com
STAYBOARD_FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
STAYBOARD_DYNAMO_ENDPOINT=http://localhost:8000
